@charset "UTF-8";

@font-face {
	font-family:'ChronoType';
		src:url('font/ChronoType.eot');
		src:url('font/ChronoType.eot?#iefix') format('embedded-opentype'),
				url('font/ChronoType.woff') format('woff'),
				url('font/ChronoType.ttf') format('truetype'),
				url('font/ChronoType.svg#ChronoType') format('svg');
	font-weight:normal;
	font-style:normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:'ChronoType';
		src: url('font/ChronoType.svg') format('svg');
		font-weight:normal;
		font-style:normal;
	}
}

body
{
	min-height: 100vh;
	border: 36px solid transparent;
	border-image: url("img/skin/001/border.png") 36 round;
	background-image: url('img/skin/001/background.png');
	image-rendering: pixelated;
	background-size: 128px;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: 'ChronoType', monospace;
	font-weight: normal; 
	font-style: normal; 
	color: white;
}
.banner_legend
{
	font-size: 32pt;
	text-shadow: 2px 2px;
	text-shadow: -3px 3px 0 #2c2a2a;
}


#page_banner
{
	image-rendering: auto;
	margin-top: 1em;
}

.social_logos_vector
{
	width: 100% \9;
}

.social_logos_raster
{
	image-rendering: auto;
}

.social_legend
{
	color: #fff;
	font-size: 16pt;
	text-align: center;
	text-shadow: -2px 2px 0 #2c2a2a;
}
.social_legend:hover
{
	color: #f2f2f2;
}
.social_link img
{
	image-rendering: auto;
}

.social_link:hover
{
	text-decoration: none;
}

#page_footer
{
	font-size: 16pt;
/* 	position: absolute;
	right: 0;
	bottom: 0;
	left: 0; */
	padding: 1rem;
	/* background-color: rgba(239, 239, 239, 0.50); */
	text-align: center;
	text-shadow: -2px 2px 0 #2c2a2a;
}